aside {
  display: none;
}

@media screen and (min-width: 930px) {
  aside {
    width: 100%;
    height: 100vh;
    padding: 3rem 1rem;
    display: block;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 18rem;
    border-right: 1px solid #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .top {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      a {
        color: #fafafa;
        text-decoration: none;

        h2 {
          padding: 0rem 0.75rem;
          font-size: 2rem;
        }
      }

      .links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;

        button {
          width: 100%;
          background-color: transparent;
          border: none;
          padding: 0.75rem 0.75rem;
          font-size: 1.1rem;
          color: #fafafa;
          font-family: "Outfit", "Gilroy", Arial, Helvetica, sans-serif;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;
          cursor: pointer;
          transition: background 0.3s ease, transform 0.2s ease-in;

          &:hover {
            background-color: #0f0f0f;
            border-radius: 0.5rem;
          }

          &:active {
            transform: scale(0.95);
          }

          svg {
            height: 1.5rem;
            width: 1.5rem;
            stroke: #fafafa;
          }
        }
      }
    }

    .bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 0.75rem;

      button {
        width: 100%;
        background-color: transparent;
        border: none;
        padding: 0.75rem 0.75rem;
        font-size: 1.1rem;
        color: #fafafa;
        font-family: "Outfit", "Gilroy", Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        cursor: pointer;
        transition: background 0.3s ease, transform 0.2s ease-in;

        &:hover {
          background-color: #0f0f0f;
          border-radius: 0.5rem;
        }

        &:active {
          transform: scale(0.95);
        }

        svg {
          height: 1.5rem;
          width: 1.5rem;
          stroke: #fafafa;
        }
      }
    }
  }
}
